<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065928452998-q0bqps6r7b3op3ba9696gjg140v7rlhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065928452998-q0bqps6r7b3op3ba9696gjg140v7rlhv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1065928452998-si1u57nanqip0g1tk1e1ue6kf03ckt8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1O_bupRetm9rZdqjHlFTAPak0_uAb_4U</string>
	<key>GCM_SENDER_ID</key>
	<string>1065928452998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HUVAZA.crudFirebase</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-1e5e1</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-1e5e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065928452998:ios:c2bc8b7413e7bdc3ae1a07</string>
</dict>
</plist>